/*about css page*/


.filterempty{
  width:100%;
  height:5rem;
  margin-top:3rem;
  color:white;
}

.contact-cover{
  position: relative;
  background-image: url("../img/hero-about.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:.8em;
  margin: 0px;

  padding-top: 8em;
  padding-bottom:18em;
}

.cf_name, .cf_email{
  /*border-bottom: 1px solid #00b1b0;
}*/
}

.cf_p{
  position: relative;
  height: 2em;
  padding-top: 0.6em;
/*  border: 1px solid black;
*/  margin: 0px;
}

.contact_us{
  width: 90%;
  border: none;
}

.cf_message{
  bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 4em;
  position: relative;
  vertical-align: bottom;
}

.cf_button_div{
  bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.cf_bottom{
    left: 33.7%;
    width: 65.3%;
  } 
}


