
/*index css page*/

.seemore {
	text-align:right;
}

.productlisting{
  width:100%;
  max-height:350px;
  height:auto;
  float:left;
  margin-top:-1rem;
  margin-bottom:3rem;
  color:white;
}

.productimage {
  width:100%;
  height:100%;
}

.heroheight {
  height:5rem;
}

.index_cover {
  position: relative;
  background-image: url("../images/merchhero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:1em;
  margin: 0px;
  top: 100px;
  text-align: center;

  padding-top: 8em;
  padding-bottom:28em;
}

.white{
  color:white !important;
  font-weight: bold;
}