/*merchandise css page*/

.filter{
  width:100%;
  height:5rem;
  float:left;
  margin-top:3rem;
  border:2px solid white;
  color:white;
}

.filterempty{
  width:100%;
  height:5rem;
  float:left;
  margin-top:3rem;
  color:white;
}

.productlisting{
  width:100%;
  max-height:350px;
  height:auto;
  float:left;
  margin-top:3rem;
  color:white;
}

.productimage {
  width:100%;
  height:100%;
}

.nextpage{
  width:100%;
  height:5rem;
  text-align:right;
  font-size:1.3em;
  margin-top:3rem;
  color:white;
}

.merch_cover {
  position: relative;
  background-image: url("../images/merchhero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:1em;
  margin: 0px;
  top: 100px;
  text-align: center;

  padding-top: 8em;
  padding-bottom:28em;
}

.white{
  color:white !important;
  font-weight: bold;
}