
/*header and footer media queries - same across all pages*/

@media (max-width:1550px){

 .footermaintext{
  padding:0 1.5rem;
}

}

@media (max-width:1255px){

 .footermainwrapper{
  padding-left:0;
  padding-right:0;
  font-size:0.9em;
}

}

@media (max-width:1080px){

  .col-1of9{
    width:100%;
  }

  .col-8of9{
    width:100%;
  }

  #header {
    padding-left:1rem;
    padding-right:1rem;
  }

  .topnavwrapper{
    padding-top:40px;
    text-align:center;
  }

  .logo{
    text-align:center;
  }

  .topnavlink{
    padding: 0 1rem;
  }

  .hero {
    top:210px;
  }

  .heroempty {
    height:38em;
  }

  .footerarea{
    height:37rem;
  }

  .footermainwrapper{
    font-size:1em;
    height:12rem;
  }

  .footerlinkresize {
    display:block;
  }

}

@media (max-width:768px){

 .hero {
  top:250px;
}

.heroempty {
  height:40em;
}


#header {
  padding-left:0rem;
  padding-right:0rem;
}

.topnavlink{
  font-size:1em;
  padding: 0rem 0.8rem;
}

.topiconwrapper {
  margin-top:40px;
  display:block;
}

}

/*body content media queries*/

@media (max-width:1255px){

  .col-2of9{
    width:100%;
  }

  .removeempty2{
    display:none;
  }

  .nextpage{
    height:0rem;
    margin-top:-5rem;
  }

  /*wallet page*/

  h1.walletheading{
    width:90%;
    font-size:1.5em;
  }

  .iteminfo{
    max-height:460px;
    margin-top:2rem;
  }

  .reviews{
    padding:2rem 2rem;
  }

}

@media (max-width:1080px){

  .col-3of9 {
    width:50%;
  }

  .col-6of9{
    width:50%;
  }

  #content {
    padding-left:3rem;
    padding-right:3rem;
  }

  .removeempty{
    display:none;
  }

  .game.col-5of9{
    width:55%;
  }

  .seemorecol3.col-3of9{
    width:45%;
  }

  /*wallet page*/

  .mainwalletimage.col-6of9 {
    width:100%;
  }

  .walletinfo.col-3of9 {
    width:100%;
  }

  .productbackgroundwrapper {
    top:210px;
    height:112rem;
  }

  .buttonscol.col-3of9 {
    width:100%;
  }

  .productlisting {
    margin-bottom:2rem;
  }

  .buttonsempty {
    display:none;
  }

  .seemore, .reviewsheading {
    margin-top:4rem;
  }

  /*login page*/

  .logincol.col-3of9 {
    width:100%;
  }

  .loginreview.reviewform {
    margin-top:10rem;
  }

  .login {
    text-align:center;
  }

  .loginbg.productbackgroundwrapper {
    top:270px;
    height:60rem;
  }

}

@media (max-width:768px){

  #content {
    padding-left:0rem;
    padding-right:0rem;
  }

  /*merch page*/

  .merch_cover {
    top:250px;
  }

  .heroheight {
    height:13rem;
  }

  /*wallet page*/

  .productlistingmain{
    margin-top:10rem;
  }

  .productbackgroundwrapper {
    top:270px;
    height:104rem;
  }

  /*about page*/

  .aboutcol.col-3of9 {
    width:100%;
  }

  .contactform {
    margin-bottom:-3.5rem;
  }

  .sendcommentscol.col-6of9 {
    display:none;
  }

  .cdontactwrapper {
    text-align:center;
  }

  .contact_cover {
    top:250px;
  }

  .events_cover {
    top:250px;
  }

}

@media (max-width:414px){

  .col-3of9{
    width:100%;
  }

  .filter{
    margin-bottom:-3rem;
  }

  /*wallet page*/

  .iteminfo{
    max-height:510px;
    margin-top:0rem;
    margin-left:0rem;
    margin-right:0rem;
  }

  .productbackgroundwrapper {
    top:270px;
    height:113rem;
  }

  .seemore, .reviewsheading {
    margin-top:5rem;
  }

}